@font-face {
    font-family: 'Playwrite';
    src: url('fonts/PlaywriteDEGrundGuides-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Playwrite';
}

nav{
    display: flex;
    width: 90%;
    align-items: end;
    margin-left: -3px;
}
nav div{
    z-index: 3;
    background-color: rgb(176, 176, 176);
    width: 10%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div:last-child{
    border-right: 2px solid black;
}

.activate{
    margin-bottom: -2px;
    background-color: white;
}

.container{
    width: 90%;
    border: 2px solid black;
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

#emplacement_donnees{
    width: 100%;
    height: 90%;
}
#parametres{
   width: 100%;
        background-color: rgba(9, 173, 107, 0.685);
        display: flex;
        justify-content: end;
        padding: 15px;
        box-sizing: border-box;
        border-bottom: 2px solid black;
        position: relative;
}
#tri{
    position: relative;
    height: 80%;
}
   .type{
        background-color: white;
        border: 2px solid black;
        list-style: none;
        position: absolute;
        margin-top: 50px;
        flex-direction: column;
        padding: 0;
    }
    .genre{
        background-color: white;
        border: 2px solid black;
        list-style: none;
        position: absolute;
        margin-top: 50px;
        flex-direction: column;
        padding: 0;
        margin-right: 100Px;
    }

    .movie{
        border-bottom: 2px solid black;
        flex: 1;
        height: auto;
    }

    .movie:last-child{
        border-bottom: none;
    }
.nb_film{
    height: 20px;
    width: 90%;
    align-items: center;
    justify-content: end;
    display: flex;
    margin-right: -4px;

}