html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', sans-serif;
    align-items: center;
    justify-content: center;
}

@font-face {
  font-family: 'Lemon';
  src: url('LEMONMILK-Medium.otf') format('opentype');
}
body{
    display: flex;
    flex-direction: column;
        transition: all 1s ease;

}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* barre de navigation */
nav{
    background-color: white;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
        position: sticky;
        top: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
        border-radius: 10px;
        overflow: hidden;
    }

nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
        justify-content: center;

}

nav ul li {

    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-style: normal;
    color: black;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    height: 100%;
    
}
a:hover{
    background-color: rgb(201, 34, 120);
    transition: 0.3s;
}


/* fin de barre de navigation */




/* Barre de section avec article */
section{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-top: 20vh;
    width: 100%;
}

p.descr{
    display: none;
}

article{

}
article h2{
    display: none;
}
article p[class="year"]{
    display: none;
}

article img{
    cursor: pointer;
    height: 200px;
    Transition: transform 0.3s ease;
}

article img:hover{
    transform: scale(1.1);
    transition: 0.3s;}

    #divplacebouton{
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

    #divplacebouton button{
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Lemon', sans-serif;
        transition: 1s;
    }
    #divplacebouton button:hover{
        background-color: rgb(201, 34, 120);
        transition: 1s;
    }



footer{
    border-top :2px solid black;
    height: 50px;
    display: flex;
    gap:2%;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10vh;
}

#donttouch{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    align-items: center;
    justify-content: center;
        opacity: 0%;
    transition: opacity 1s ease; /* transition uniquement sur l’opacité */

}
#content.fadeIn{
    opacity: 100%; /* élément apparaît doucement */
}

#donttouch.fadeIn{
    opacity: 100%; /* élément disparaît doucement */
}

#content{
    background-color: white;
    width: 50%;
    max-height: 80vh; /* limite la hauteur à 80% de l’écran */
    display: flex;
    flex-direction: column;
    align-items: stretch; /* étirer le contenu plutôt que de le centrer verticalement */
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
    transition: opacity 1s ease;
    opacity: 0;
    overflow-y: auto; /* autorise le scroll vertical */
}

#content img{
    width: 100px
}


p#description{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.2em;
}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    background-color:transparent;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Lemon', sans-serif;
        transition: 1s;
    }
#mini{
    font-size: 10px;
    text-align: justify;
}