body {
    line-height: 1.6;
    background: black;
    color: yellow;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
        font-family: "Star Jedi V2", sans-serif;
    font-size: 4em;
}

.div_perso{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.perso{
    border: 3px solid yellow;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.perso:hover{
    background: yellow;
    color: black;
}
.details{
    border: 3px solid yellow;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 200px;
    text-align: left;
}
.global_details{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
